body {
  /*background-image: url("images/header.png");*/
  background-image: linear-gradient(white, white, white);
  font-family: 'Open Sans', sans-serif;
  color: black;
  margin: 0;
  background-color: white;
}
