h1 {
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
  margin-left: 20px;
  text-shadow: 2px 2px cyan;

}

body {
  background-image: linear-gradient(white, white, white);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin: 0;
  background-color: white;
}

div {
  padding: 15px;
  margin: 15px;
  background: white;
}

p {
  background: white;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
  height: auto;
}
  
