h1 {
  color: black;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  font-size: 60px;
  margin-left: 20px;
  text-shadow: 3px 3px cyan;

}

body {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20x;
  color: black;
  margin: 0;
}

body {
  background-image: url("https://github.com/phong7/IDEA_120_PORTFOLIO/blob/main/Portfolio_img/background.jpg?raw=true");
  background-repeat: repeat;
  background-size: 200px 100px;
}
  

img {
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
  height: auto;
}

